# Test Results

# Overview

You can use the test results panel for a summary of passed and failed tests.

![83fdf56-test_results_panel=GUID-6E4D4833-5A9F-4673-87DB-748B16E2A5F4=1=en=Default](/images/83fdf56-test_results_panel=GUID-6E4D4833-5A9F-4673-87DB-748B16E2A5F4=1=en=Default.png)

# Viewing test results in Test Explorer

Click a test run in Test Explorer to view its information in the Test Results panel. On parent
                test cases, you can see test cases that have passed or failed, whereas for
                individual test cases you can see information regarding exceptions, and any passed
                or failed assertions.

If screenshots are enabled and used in a test run, you can view them in the
                    Screenshots path that you have configured in the Project settings, under
                    Testing.

To see what actions you can take in Test Explorer, see Working with Test Explorer.

### Upload Test Results to Test Manager

Add Studio execution entries to your Test Manager project.

# Conditions

* Configure the Test Manager configuration.
* Uploading test results works only with Test Manager version 2022.10 or higher.

# Uploading results to Test Manager

1. In the Test Results panel, right-click an executed test case and select Upload results to Test Manager. You can select multiple test results that will be added to the test case configured in the following step.You are prompted to configure the Test Manager integration with Studio if it's not yet configured.
2. Configure test information to link the test result to the relevant Test Manager objects.
3. Click Ok to confirm. The results can be seen in Test Manager.

# Uploading screenshots to Test
        Manager

When uploading test results to Test Manager, local assertion screenshots are also uploaded
        and displayed in the Assertions tab of the corresponding test case result.

To upload local assertion screenshots to Test Manager, ensure that you're using
            Testing.Activities version 23.4.0 or higher.

